.home {
    width: 100%;
    align-items: center;
    color: #9e1b32;
  }
  
  .about {
    width: 100%;
    height: 85vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #9e1b32;
    color: #f0f0f0;
  }
  
  .about h2 {
    font-size: 50px;
    color: #fff;
    height: 10vh;
    margin: 0;
  }
  
  .about .prompt {
    width: 40%;
    font-size: 30px;
  }
  .prompt svg {
    font-size: 60px;
    margin: 5px;
    color: white;
  }

  .pics {
    height: 30vh;
    border-radius: 5%;
  }
  
  .picsContainer{
    height: 30vh;
    gap: 5vw;
    display: flex;
  }

  .skills {
    font-size: 35px;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }
  
  .skills h1 {
    color: #9e1b32;
  }
  
  .skills .list {
    list-style: none;
    width: 60%;
  }
  
  .list span {
    font-size: 20px;
  }

  .buttonContainer{
    display: flex;
    gap: 1vw;
    justify-content: center;
  }
  
  button{
    background: none;
    border: none;
    cursor: pointer;
  }
  
  @media only screen and (max-width: 600px) {
    .about h2 {
      font-size: 40px;
    }
  
    .about .prompt {
      margin-top: 10px;
      font-size: 20px;
      width: 80%;
    }
  
    .skills {
      text-align: center;
    }
    .list {
      padding: 0;
    }
  
    .skills h2 {
      font-size: 30px;
    }
  }